<div class="card alturaRegistro">
    <div class="card-body ">
        <div class="">
            <table class="table caption-top">
                <caption>Junio</caption>
                <thead>
                  <tr>
                    <th>Cantidad</th> 
                    <th>Concepto</th>                
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>-100</td>
                    <td>Luz</td>
                  </tr>
                  <tr>
                    <td>1200</td>
                    <td>Salario</td>
                  </tr>
                  <tr>
                    <td>-30</td>
                    <td>Tienda</td>
                  </tr>
                </tbody>
              </table>
            <p>{{cantidad}}</p>
        </div>        
    </div>
</div>