<div class="card alturaRegistro FondoOscuro">
    <div class="card-body ">
        <div class="">
            <table class="table caption-top">
                <caption style="color: #D1D4DC;">Junio</caption>
                <thead>
                  <tr>
                    <th>Cantidad</th> 
                    <th>Concepto</th>                
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="color: #EF5350;">-100</td>
                    <td>Luz</td>
                  </tr>
                  <tr>
                    <td style="color: #26A69A;">1200</td>
                    <td>Salario</td>
                  </tr>
                  <tr>
                    <td style="color: #EF5350;">-30</td>
                    <td>Tienda</td>
                  </tr>
                </tbody>
              </table>
            <p>{{cantidad}}</p>
        </div>        
    </div>
</div>