
.FondoOscuro {
    background-color: #161B25; 
    color: #D1D4DC; 
}

.gastos {
    background-color: #EF5350;
    color: #FFFFFF;
}
.ingresos {
    background-color: #26A69A;
    color: #FFFFFF;
        
}