<div class="card FondoOscuro autoMargins">
    <div class="card-body">
        <h5 class="card-title">{{nombre}}</h5>
        <form class="p-3">
            <label for="name" class="mb-1 ">Cantidad </label>
            <div>
                <input type="text" name="name" id="name" class="col-12 fondoInput">
            </div>
            <label for="name" class=" mb-1">Concepto</label>
            <div>
                <input type="text" name="name" id="name" class="col-12 fondoInput">
            </div>
            <br>
            <div class="">
                <button type="button" class="btn ingresos col-6 rounded-end-0">Ingreso</button>
                <button type="button" class="btn gastos  col-6 rounded-start-0">Gasto</button>
            </div>
        </form>
    </div>
</div>