<div class="container my-5">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p>{{nombre}}</p>
                    <form>
                        <label for="name">Cantidad</label>
                        <div>
                            <input type="text" name="name" id="name">
                        </div>
                        <div class="p-3">
                            <button type="button" class="btn btn-success ">Ingreso</button>
                            <button type="button" class="btn btn-danger ">Gasto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>